<!DOCTYPE html>
</html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>第一遊樂園</title>
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/../images/icon/favicon.ico" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/../javascripts/all.js"></script>
    <script type="text/javascript" src="/../javascripts/index.js"></script>
    <script type="text/javascript" src="/../javascripts/accountManagement.js"></script>
    <script type="text/javascript" src="/../javascripts/admin.js"></script>
</head>

<body>
    <div id="web">
        <div id="header">
            <div id="title">
                <a href="/" rel="nofollow">
                    <img id="logo" src="../images/logo.png">&nbsp;<img id="logo_txt" src="../images/logo_txt.png">
                </a>
            </div>
            <div id="action">
                <%if(admin_name !== ''){%>
                    管理員：<%=admin_name%> 您好 | <span id="logout" onclick="logoutWindow()">🔓登出</span>
                <%}else{%>
                    <a href="/admin/login" rel="nofollow">👤管理員登入</a>  |  <a href="/user/login" rel="nofollow">👥會員登入</a>  |  <a href="/reg/user" rel="nofollow">✍會員註冊</a>
                <%}%>
                |  <a href="/" rel="nofollow">🏠️回首頁</a>
            </div>
        </div>
        <div id="title">
            <span id="titleLable"><%=page_title%></span>
        </div>