<div id="sidebar">
    <p>
    <p>
    <a href="/paradise_information" rel="nofollow">ЁЯОб циВхЬТш│ЗшиК</a><p>
    <a href="/facilities_information" rel="nofollow">ЁЯЪШ ф║дщАЪш│ЗшиК</a><p>
    <a href="/facility_information" rel="nofollow">ЁЯОа шинцЦ╜ш│ЗшиК</a>
    <%if(full_name !== '' && typeof(full_name) !== 'undefined' && identity === 'admin'){%>
        <p>----------------<p>
        <a href="/admin/account_view" rel="nofollow">ЁЯУЭ х╕│шЩЯчобчРЖ</a><p>
        <a href="/admin/member_tickets" rel="nofollow">ЁЯОЯ щЦАчеичобчРЖ</a><p>
        <a href="/admin/member_data" rel="nofollow">ЁЯСитАНЁЯСитАНЁЯСзтАНЁЯСз цЬГхУбш│ЗцЦЩ</a><p>
        <a href="/admin/facility_management" rel="nofollow">ЁЯОв шинцЦ╜чобчРЖ</a><p>
    <%}else{%>
        <%if(full_name !== '' && typeof(full_name) !== 'undefined' && identity === 'user') {%>
            <p>----------------<p>
            <a href="/user/account_view" rel="nofollow">ЁЯУЭ х╕│шЩЯчобчРЖ</a><p>
            <a href="/user/ticket" rel="nofollow">ЁЯОЯ щаРшиВщЦАчеи</a><p>
            ЁЯОа шинцЦ╜щаРч┤Д<p>
            ЁЯУЭ чЫохЙНшиВхЦо<p>
        <%}%>
    <%}%>
</div>