<div id="sidebar">
    <p>
    <p>
    <a href="/paradise_information" rel="nofollow">🎡 樂園資訊</a><p>
    <a href="/facilities_information" rel="nofollow">🚘 交通資訊</a><p>
    🎠 設施資訊
    <%if(admin_name !== '' && typeof(admin_name) !== 'undefined'){%>
        <p>----------------<p>
        <a href="/admin/account_view" rel="nofollow">📝 帳號管理</a><p>
        <a href="/admin/member_tickets" rel="nofollow">🎟 會員門票</a><p>
        <a href="/admin/member_data" rel="nofollow">👨‍👨‍👧‍👧 會員資料</a><p>
        <a href="/admin/facility_management" rel="nofollow">🎢 設施管理</a><p>
    <%}%>
    
</div>