<div id="sidebar">
    <p>
    <p>
    <a href="/paradise_information" rel="nofollow">🎡 樂園資訊</a><p>
    <a href="/facilities_information" rel="nofollow">🚘 交通資訊</a><p>
    <a href="/facility_information" rel="nofollow">🎠 設施資訊</a>
    <%if(full_name !== '' && typeof(full_name) !== 'undefined' && identity === 'admin'){%>
        <p>----------------<p>
        <a href="/admin/account_view" rel="nofollow">📝 帳號管理</a><p>
        <a href="/admin/member_tickets" rel="nofollow">🎟 會員門票</a><p>
        <a href="/admin/member_data" rel="nofollow">👨‍👨‍👧‍👧 會員資料</a><p>
        <a href="/admin/facility_management" rel="nofollow">🎢 設施管理</a><p>
    <%}else{%>
        <%if(full_name !== '' && typeof(full_name) !== 'undefined' && identity === 'user') {%>
            <p>----------------<p>
            📝 帳號管理<p>
            🎟 預訂門票<p>
            🎠 設施預約<p>
            📝 目前訂單<p>
        <%}%>
    <%}%>
</div>