<%- include layouts/header.ejs %>

<div id="content">
    <%- include layouts/index_side.ejs %>
    <div id="body">
        <form method="post" id="regForm" name="regForm" action="/reg/admin_save">
            <table id="reg_table" cellpadding='5'>
                <tr>
                    <td>姓名</td>
                    <td><input type="text" name="name" id="name" maxlength="40"/>&nbsp;ex.王小明</td>
                </tr>
                <tr>
                    <td>生日</td>
                    <td>
                        <input type="date" name="birth" id="birth" max="2020-01-01"/>&nbsp;ex.1989/02/02
                    </td>
                </tr>
                <tr>
                    <td>行動電話</td>
                    <td>
                        <input type="text" name="phone" id="phone" maxlength="15"/>&nbsp;ex.0912345678
                    </td>
                </tr>
                <tr>
                    <td>性別</td>
                    <td>
                        <input type="radio" name="sex" value="男" checked>男性
                        <input type="radio" name="sex" value="女">女性<br>
                    </td>
                </tr>
                <tr>
                    <td>信箱</td>
                    <td>
                        <input type="text" name="email" id="email" maxlength="150"/>&nbsp;ex.test@gmail.com
                    </td>
                </tr>
                <tr>
                    <td>密碼</td>
                    <td>
                        <input type="password" name="password" id="password"/>
                    </td>
                </tr>
                <tr>
                    <td>確認密碼</td>
                    <td>
                        <input type="password" name="password_repeat" id="password_repeat"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td_center">
                        &nbsp; <input type="button" name="cancel" value="✘ 取消" class="cancel" onClick="go_back();">
                        <input type="button" name="registerBtn" id="registerBtn" class="reg_btn" value="✎ 註冊帳號" onclick="ckform_reg()">
                    </td>
                </tr>
            </table>
            <p id="errorMsg" class="errorMsg"></p>
        </form>
    </div>
</div>
<%- include layouts/footer.ejs %>