<%- include layouts/header.ejs %>
<div id="errorPag">
    <h1>發生錯誤！請稍後再試</h1>
    <input type="button" name="back" value="回首頁" class="cancel" id="back" onClick="back_index()">
</div>
<%- include layouts/footer.ejs %>