<%- include layouts/header.ejs %>

<div id="content">
    <img id="amusement_park" src="../images/amusement_park.png">
    <div id="index_button">
        <input type="button" value="🔎 樂園資訊" class="paradise_information" onClick="go_paradise_information()">
        <input type="button" value="🔎 交通資訊" class="facilities_information" onClick="go_facilities_information()">
        <input type="button" value="🔎 設施資訊" class="traffic_information">
    </div>
</div>
<%- include layouts/footer.ejs %>