<%- include layouts/header.ejs %>

<div id="content">
    <%- include layouts/index_side.ejs %>
    <div id="body">
        <span class="title_txt">遊樂園名稱：</span>第一遊樂園<br>
        <span class="title_txt">設施預約：</span>20分鐘為一個時段區間<br>
        <span class="title_txt">票價資訊：</span>統一票價，一個人一次只能預約一張門票，一人260$<br>
        <span class="title_txt">營業時間：</span>週一至週日10：00～19：00<br>
        <span class="title_txt">導覽地圖：</span><br>
        <img id="guided_tour" src="../images/guided_tour.jpg">
        <span class="title_txt">遊客注意事項：</span><br>
        1.為了維護大家的健康，除設有吸菸區標誌的區域允許吸菸外，全園區一律禁止吸菸。<br>
        2.園區內全面禁食口香糖及檳榔。<br>
        3.除導盲犬外，其他寵物須放置寵物籃內方可入園，但恕無法搭乘遊樂設施。<br>
        4.為確保園區遊客搭乘之安全，部分遊樂設施不提供孕婦搭乘服務。<br>
        5.颱風天是否開園依據高雄巿政府公告上班訊息為準，若上班則開園，不上班則不開園。<br>
        6.部份遊樂設施為顧及遊客安全，會針對老人、孕婦、心臟病等患者或身心障礙者加以限制。為確保您乘坐遊樂設施之安全性，各項遊樂設施皆有搭乘限制，請遵照現場服務人員之指示。<br>
        7.非因本公司故意或過失，致遊客受有體傷、死亡或財物損害，本公司恕不負損害賠償責任。<br>
        8.園區提供行動不便者設置輪椅專用坡道及專用廁所，如需服務請與現場服務人員聯繫。<br>
        9.園區內設置置物櫃，提供遊客付費使用，但遊客應自行保管隨身攜帶之貴重物品，本園區置物櫃僅供寄物用途，如有遺失本公司不負損害賠償責任。<br>
        10.若於園區遺失物品時請洽「服務中心」協尋並填寫遺失物品登記單，以利尋獲時聯絡確認及寄送，倘若您已離園請撥打園區電話由客服人員為您服務。<br>
        11.需加溫及冷藏之食物、酒精性飲料、鍋具器皿、瓦斯炊具、烤肉器具、玻璃容器，以上禁止攜帶入園。<br>
        12.園內各區域皆有設置AED(自動體外心臟電擊去顫器)，所有設施，商店、餐廳等均備有救護箱。<br>
        13.已入園之遊客，如需出園後當日再入園，請於出口處由服務人員在您的手背上加蓋再入園章。<br>
    </div>
</div>
<%- include layouts/footer.ejs %>